@charset "UTF-8";
@font-face {
  font-family: "SevenOneEight-black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SevenOneEight-Black.ttf") format("TrueType"); }
@font-face {
  font-family: "SevenOneEight-book";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SevenOneEight-Book.ttf") format("TrueType"); }
@font-face {
  font-family: "SevenOneEight-extraB";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SevenOneEight-ExtraBold.ttf") format("TrueType"); }
@font-face {
  font-family: "SevenOneEight-light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SevenOneEight-Light.ttf") format("TrueType"); }
@font-face {
  font-family: "SevenOneEight-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SevenOneEight-Medium.ttf") format("TrueType"); }
/* Layout */
html {
  font-size: 100%; }

body {
  background-color: #efefef;
  font-size: 1em;
  margin: 0; }

.max-container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh; }
  @media screen and (max-width: 1023px) {
    .max-container {
      padding: 0 10px; } }

.content {
  flex-grow: 1; }

.col-three {
  display: flex;
  height: 42px;
  justify-content: center;
  width: 33.333333%; }
  .col-three::after {
    content: "";
    clear: both;
    display: block; }
  @media screen and (max-width: 768px) {
    .col-three {
      justify-content: inherit;
      margin-bottom: 20px;
      position: relative;
      width: 100%; }
      .col-three:last-child::after {
        display: none; }
      .col-three::after {
        content: "|";
        bottom: -22px;
        display: block;
        position: absolute;
        left: 12px; } }

.cta-container {
  margin: 46px auto;
  max-width: 1024px;
  text-align: center;
  padding: 10px; }

/* Links */
a {
  color: #ffffff;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.footer-link {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none; }

/* Title */
.headline {
  font-family: "SevenOneEight-book";
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: 1.19em; }
  @media screen and (max-width: 400px) {
    .headline {
      font-size: 0.9em; } }
  .headline--red {
    color: #e23022; }
  .headline::after {
    background-color: black;
    content: '';
    height: 4px;
    bottom: -10px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
    width: 147px; }

/* Button */
button {
  cursor: pointer; }

.btn {
  border: 0;
  font-family: "SevenOneEight-book";
  padding: 5px 0 3px;
  text-align: center;
  text-transform: uppercase;
  width: 213px; }

.btn--primary {
  color: #ffffff;
  background-color: #e23022; }

.btn-icon--right {
  background-image: url(../images/icons-svg/chevron-right--white.svg);
  background-position: center;
  width: 33px;
  height: 33px; }
  .productDetail .btn-icon--right {
    position: absolute;
    top: 25%;
    right: 20px; }

.btn--white {
  color: #000000;
  background-color: #ffffff; }

.btn-icon--left {
  background-image: url(../images/icons-svg/range--red.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 9%; }

/* Bloc */
.inscription-bloc {
  display: flex;
  margin: 40px 0; }
  @media screen and (max-width: 768px) {
    .inscription-bloc {
      flex-wrap: wrap;
      flex-direction: column;
      margin: 40px 60px; } }

.inscriptionNumber {
  color: #e23022;
  display: inline-block;
  font-family: "SevenOneEight-extraB";
  font-size: 3em;
  margin-right: 5px; }
  @media screen and (max-width: 768px) {
    .inscriptionNumber {
      margin-right: 20px; } }

.inscriptionText {
  font-size: 0.8em;
  display: inline-block;
  font-family: "SevenOneEight-book";
  margin: 0;
  text-transform: uppercase; }
  .inscriptionText--red {
    color: #e23022;
    font-family: "SevenOneEight-extraB"; }
  @media screen and (max-width: 768px) {
    .inscriptionText {
      font-size: 0.7em;
      align-self: center; } }

.info-bloc {
  padding: 20px 0;
  margin: 20px 0;
  text-align: center; }
  .info-bloc--black {
    background-color: #333333;
    text-transform: uppercase; }
    .info-bloc--black::after {
      background-color: #e23022;
      bottom: 12px;
      content: '';
      height: 2px;
      margin-left: -110px;
      left: 50%;
      position: absolute;
      width: 221px; }
  .info-bloc--red {
    background-color: #e23022; }
    .info-bloc--red .infotext--bold {
      font-family: "SevenOneEight-book";
      font-size: 1.5em; }
  .info-bloc--transparent {
    text-transform: uppercase; }
    .info-bloc--transparent .infotext {
      color: #000000; }
      .info-bloc--transparent .infotext::after {
        background-color: #000000;
        bottom: -4px;
        content: '';
        height: 2px;
        margin-left: -34px;
        left: 50%;
        position: absolute;
        width: 72px; }
  .info-bloc.footer {
    margin: 0 0 0;
    position: sticky;
    bottom: 0;
    z-index: 2; }

.infotext {
  color: #ffffff;
  font-family: "SevenOneEight-book";
  font-size: 0.83em;
  line-height: 1.3em;
  margin: 0;
  position: relative;
  padding: 0 10px; }
  .infotext--bold {
    font-family: "SevenOneEight-extraB"; }
  .infotext .condition {
    vertical-align: middle; }

/* Product */
.productList-bloc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media screen and (max-width: 1023px) {
    .productList-bloc {
      justify-content: space-evenly; } }
  .productList-bloc .product-link {
    text-decoration: none; }

.product-bloc {
  background-color: #ffffff;
  border-radius: 5px;
  height: 244px;
  margin-bottom: 10px;
  width: 330px; }
  .product-bloc .product-slider {
    position: relative; }
    .product-bloc .product-slider .product-legend {
      font-family: "SevenOneEight-black";
      position: absolute;
      bottom: 10px;
      right: 20px;
      text-transform: uppercase;
      margin: 0; }
  .product-bloc figure {
    height: 173px;
    margin: 0;
    width: 100%; }

.product-img {
  height: 100%;
  max-width: 100%;
  width: 100%;
  position: relative; }

.productDetail {
  padding: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap; }

.product-title {
  font-family: "SevenOneEight-medium";
  font-size: 0.9em;
  margin: 0;
  width: 85%;
  color: #000000; }
  .product-title hr {
    background-color: black;
    display: inline-block;
    height: 2px;
    margin: 3px 6px 3px 3px;
    width: 13px;
    border: 0; }

.product-city,
.product-destination {
  color: #5d5c5c;
  font-family: "SevenOneEight-book"; }

.product-destination {
  font-size: 0.7em; }

.product-rating {
  display: inline-flex;
  flex-wrap: nowrap;
  position: relative;
  top: -5px;
  left: 5px; }

.icon-star::after {
  content: "★";
  color: #000000;
  font-style: normal;
  font-size: 0.9em; }

/* Sticker */
.sticker-bloc {
  display: flex; }

.sticker {
  color: #ffffff;
  display: inline-block;
  padding: 3px 5px 1px;
  text-transform: uppercase;
  font-family: "SevenOneEight-book";
  font-size: 0.5em; }
  .sticker--black {
    background-color: #000000; }
  .sticker--gold {
    background-color: #bd9c6a; }
  .sticker + .sticker {
    margin-left: 9px; }

/*# sourceMappingURL=style.css.map */
